<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table-condensed">
  <tr>
    <th><%= f.label 'Display Name' %></th>
    <td><%= f.text_field :username %></td>
  </tr>
 
  <tr>
    <th><%= f.label :first %></th>
    <td><%= f.text_field :first %></td>
  </tr>

  <tr>
    <th><%= f.label :last %></th>
    <td><%= f.text_field :last %></td>
  </tr>

  <tr>
    <th></th>
    <td><%= f.submit class: 'btn btn-primary' %></td>
  </tr>
  </table>
<% end %>

