<h1>Walking Tracker</h1>

<table class="table-striped table-condensed">
  <tr>
  <th></th>
  <% @grid.build.column_headers.each do |head| %>
  <th><%= head.strftime('%a') %><br/><%= head.strftime('%-m/%-d') %></th>
  <% end %>
  <th>Total</th>
  </tr>
  <% @grid.build.rows.each do |row| %>
  <tr>
    <% user = User.find(row.header) %>
    <th><%= link_to user.first+' '+user.last, user_path(user) %></th>
    <% row.data.each do |item| %>
    <% if item %>
    <td><%= item.minutes %></td>
    <% else %>
    <td></td>
    <% end %>
    
    <% end %>
    <th><%= row.total %></th>
  </tr>
  <% end %>
</table>


<br/>

<%= link_to 'Add a New User', new_user_path, class: 'btn btn-primary' %>
