<a href="https://github.com/dmcallas/walk-tracker"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/fork_me.png" alt="Fork me on GitHub"></a>

<h1>Walking Tracker</h1>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">

      <table class="table-striped table-condensed">
	<tr>
	  <th></th>
	  <% @grid.build.column_headers.each do |head| %>
	  <th>
	    <%= head.strftime('%a') %><br/>
	    <%= head.strftime('%-m/%-d') %>
	  </th>
	  <% end %>
	  <th>Total</th>
	</tr>
	<% @grid.build.rows.each do |row| %>
	<tr>
	  <% user = User.find(row.header) %>
	  <th><%= link_to user.username, user_path(user) %></th>
	  <% row.data.each do |item| %>
	  <% if item %>
	  <td><%= item.minutes %></td>
	  <% else %>
	  <td></td>
	  <% end %>

	  <% end %>
	  <th><%= row.total %></th>
	</tr>
	<% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'Download table as CSV', users_path(format: "csv"), class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= column_chart @users.map{|user| {name: user.username, data: user.durations.reject{|d| d.day.nil?}.sort_by{|d| d.day}.map{|d| [d.day,d.minutes] }}} %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'Add a New User', new_user_path, class: 'btn btn-primary' %>
    </div>
  </div>

</div>
