<%= form_for @duration do |f| %>

  <% if @duration.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@duration.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @duration.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </p>
 
  <p>
    <%= f.label :day %><br>
    <%= f.text_field :day %>
  </p>

  <p>
    <%= f.label :minutes %><br>
    <%= f.text_field :minutes %>
  </p>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>

